.header {
    background-color: #FBFBFB;
    border-bottom: 1px solid #ddd;
  }
  
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    height: 88px;
    border: 0.5px solid #EAEAEA
  }
  
  .logo img {
    height: 40px;
  }
  
  .search-bar input {
    width: 300px;
    padding: 8px 16px;
    outline: none;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  
  .nav-links a:hover {
    color: #007bff;
  }
  
  .business-button-header button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .business-button-header button:hover {
    background-color: #0056b3;
  }
  