.search-button{
    width: Hug (119px)px;
    height: Hug (56px)px;
    padding: 16px 32px 16px 32px;
    gap: 12px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    background: #404EED;
    color: white;
    font-size: 16px;
    font-weight: 600px;  
  }