.footer {
    background-color: #262626;
    color: #FFFFFFB2!important;
    padding: 40px 0;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    flex-wrap: wrap;
    color: #FFFFFFB2;
}

.footer-left {
    max-width: 300px;
}

.footer-left h2 {
    font-size: 24px;
}

.footer-left p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-social-icons a {
    color: #FFFFFFB2;
    margin-right: 10px;
    font-size: 18px;
}

.footer-right {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping of columns */
    justify-content: space-between;
    flex-grow: 1; /* Ensures the right section takes available space */
}

.footer-column {
    width: 200px; /* Adjust width as needed */
    margin-bottom: 20px; /* Space between rows when wrapped */
    color: #FFFFFFB2;
    font-size: 16px;
    font-weight: 400;

}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #FFFFFFB2;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

.footer-bottom {
    border-top: 1px solid #444;
    padding-top: 20px;
    margin-top: 20px;
    text-align: center;
}

.footer-bottom ul {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}

.footer-bottom ul li {
    display: inline;
    margin-right: 20px;
}

.footer-bottom ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
}

.footer-bottom p {
    font-size: 12px;
}
